*.timer
*.csv
*.plt
!docs/psum_tour/psum_bitmap.plt
*.mas
*.temp
.vscode
*.so
*.dat
*.msh
*.txt
*.Identifier
*.err
*.out
!**/reference_results/**
!**/necessary_input/**
*.gcda
*.gcno
**/coverage_report/**
*.o
__pycache__/
config.mk.local
env_load.sh

.pypsum_venv/
pypsum.egg-info/
heatmap.png
heatmap.html
